extends ../component/_template.pug

block head
  link(rel="stylesheet", href="css/about.css")

block content
  .about-container
    .header
      h1 About Us
    .content
      .text
        h2 Lorem ipsum
        p
          | Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. 
          | Feugiat sagittis porttitor magnis ipsum primis penatibus. At viverra tortor non vulputate at vel tristique 
          | consectetur sed. Mauris consequat rhoncus ut volutpat ante varius convallis proin. Non facilisis urna 
          | ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat. 
          | Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia.
      .image
        img(src="https://storage.googleapis.com/a1aa/image/uDxiQ6jBwB6mOhf47HydpV2zx4PMGLV65Pl5bngDzEhvMr1JA.jpg", alt="Abstract image with red and black lines", width="400", height="300")
    .history
      h2 Our History
      .text
        p
          | Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. 
          | Feugiat sagittis porttitor magnis ipsum primis penatibus. At viverra tortor non vulputate at vel tristique 
          | consectetur sed. Mauris consequat rhoncus ut volutpat ante varius convallis proin. Non facilisis urna 
          | ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
        p
          | Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. 
          | Convallis habitant urna urna primis habitasse vivamus semper efficitur a. Lorem ipsum odor amet, consectetuer adipiscing elit. 
          | Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor magnis ipsum primis penatibus.
        p
          | At viverra tortor non vulputate at vel tristique consectetur sed. Mauris consequat rhoncus ut volutpat ante varius convallis proin. 
          | Non facilisis urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
    .button-container
      button Pendiri
