extends ../component/_template.pug

block head 
    link(rel="stylesheet", href="css/beasiswa.css")
block title 
    title Beasiswa
block content 
    img(src="../img/beasiswa.png", alt="",  class = "beasiswaimage")
    .beasiswa-title 
        h1 Beasiswa
        hr.garis
        p Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hsis urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
        p Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a. Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sasum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hsis urna
    .button-register
        button Click Here To Register 
    .beasiswa-title2 
        h1 Data Grafis Peserta Beasiswa
        hr.garis2
    .beasiswaimage2 
        img(src="../img/beasiswastatistik.png", alt="")
        