extends ../component/_template.pug

block head 
  link(rel="stylesheet", href="css/contact.css")

block content
  main
    .contact
      .sidebar
        ul
          li.person
            i.fa.fa-user
            .person-title
              h1 Username
              p 0851-XXXX-XXXX
          li.building
            i.fa.fa-building
            .building-title             
              h1 Username
              p 0851-XXXX-XXXX
              p 0851-XXXX-XXXX
          li.factory
            i.fa.fa-industry
            .factory-title 
              h1 Username
              p 0851-XXXX-XXXX
              p 0851-XXXX-XXXX
        .email-icon
          a(href="mailto:username@example.com")
            i.fa.fa-envelop 
      .form-section
        form
          .row1
            .form-group
              label(for="full-name") Full Name
              input(type="text" id="full-name" name="full-name" placeholder="Full Name")
            .form-group
              label(for="email") Email
              input(type="email" id="email" name="email" placeholder="Email")
          .row2
            .form-group
              label(for="age") Age
              input(type="number" id="age" name="age" placeholder="Age")
            .form-group
              label(for="phone") No. Hp
              input(type="tel" id="phone" name="phone" placeholder="No. Hp")
          .row3
            .form-group
              label(for="address") Address
              input(type="text" id="address" name="address" placeholder="Address")
            .form-group
              label Gender 
              .gender
                .male
                  input(type="radio" id="male" name="gender" value="male")
                  label(for="male") Male
                .female
                  input(type="radio" id="female" name="gender" value="female")
                  label(for="female") Female
          .row4
            .form-group
                label(for="reason") Reason
                textarea(id="reason" name="reason" placeholder="Reason")

    .footer-stats
      .reward
        .baris1
          .stats-column
            h3 167
            p Cabang
          .stats-column
            h3 53
            p Best Water
          .stats-column
            h3 5
            p Se - Indonesia
        .baris2
          .stats-column
            h3 100
            p Kabupaten
          .stats-column
            h3 23
            p Uji Test
          .stats-column
            h3 50
            p Asia
      .read-more
        a(href="#") Read More
        i.fa.fa-arrow-right