extends ../component/_template.pug

block head 
  link(rel="stylesheet", href="../component/css/footer.css")
  link(rel="stylesheet", href="css/contac.css")

block content
  .sidebar
    .sidebar-information  
      .person 
        img(src="../img/Person.png", alt="")
        h1 Lorem Ipsum
        h1 0851-XXXX-XXXX
      .person 
        img(src="../img/Person.png", alt="")
        h1 Lorem Ipsum
        h1 0851-XXXX-XXXX
      .person 
        img(src="../img/Person.png", alt="")
        h1 Lorem Ipsum
        h1 0851-XXXX-XXXX
      .sidebar-form
        .form-row
          input(type='text', placeholder='Full Name')
          input(type='text', placeholder='Email')
        .form-row
          input(type='text', placeholder='Age')
          input(type='text', placeholder='No. Hp')
        .form-row
          input(type='text', placeholder='Address')
          div
            input(type='radio', name='gender', value='male') Male
            input(type='radio', name='gender', value='female') Female
        .form-row
          textarea(placeholder='Reason')
            