extends ../component/_template.pug

block head 
    link(rel="stylesheet", href="css/detailnews.css")
block title 
    title Detail News 
block content 
    h1 Lorem Ipsum 
    .medsos     
        - var images = ['../img/logo1.png', '../img/logo2.png', '../img/logo3.png', '../img/logo4.png']
            each img in images
                img(src=img alt="medsos")  
        
    img(src="../img/detailnews.png", alt="",  class = "detailnewsimage")
    .detail-text
        p Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hsis urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
        p Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a.Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor.
        p Feugiat sasum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hsis urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a. Lorem ipsum odor amet, consectetuer adipiscing elit. 
        p Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor magnis ipsum primis penatibus. At viverra tortor non vugittis porttitor magnis ipsum primis penatibus. At viverra tortor non vulputate at vel tristique consectetur sed. Mauris consequat rhoncus ut volutpat ante varius convallis proin. 