extends ../component/_template.pug

block head 
    link(rel="stylesheet" href="css/investasi.css")
block title 
    title Investasi Usaha
block content
   .container-investasi 
        h1 Proposal Investasi Usaha 
        h2 Pendahuluan
        p Banyak cara yang dapat kita lakukan untuk dapat meningkatkan penghasilan. Mulai dari membuka usaha sampai dengan investasi. Ada beragam jenis investasi yang dapat kita pilih. Masing-masing investasi menawarkan keuntungan sekaligus resiko. 
        p Pelitara Selaras yang selanjutnya dikenal dengan nama PIXEL merupakan sebuah perusahaan kecil menengah yang bergerak di bidang desain grafis, media promosi, dan percetakan. PIXEL berencana untuk memperluas produksi percetakan dengan membangun sebuah workshop finishing cetak. PIXEL mengajak anda untuk bergabung bersama kami dengan berinvestasi di dalam usaha yang akan kami bangun tersebut. PIXEL menawarkan kepada anda sebuah investasi yang memiliki tingkat resiko sangat rendah dengan perkembangan nilai uang yang menarik.
        
        h2 Perencanaan Proyek
        p Kebayoran Lama terkenal sebagai daerah sentra produksi percetakan. Hampir semua kebutuhan supply cetak tersedia di daerah tersebut. Mulai dari bahan baku, jasa pracetak, jasa cetak sampai dengan jasa finishing tersedia lengkap. Dengan pertimbangan tersebut kami berencana membangun sebuah workshop finishing cetak di bilangan Kebayoran Lama. Workshop tersebut akan dikelola secara professional dan didukung oleh tenaga-tenaga yang kompeten, berpengalaman dan handal di bidangnya. Adapun komponen usaha yang kami butuhkan dalam membangun usaha tersebut adalah sebagai berikut:

        table
            tr
                th Kebutuhan
                th Biaya
            tr
                td Mesin Pons 2 Unit (2nd) @Rp. 35.000.000,-
                td Rp. 70.000.000,-
            tr
                td Mesin Spiral 1 Unit @Rp. 3.000.000,-
                td Rp. 3.000.000,-
            tr
                td Mesin Pisau 1 Set @Rp. 5.000.000,-
                td Rp. 5.000.000,-
            tr
                td Komputer Nomerator Digital
                td Rp. 25.000.000,-
            tr
                td Printer Laser UK A3 1 Unit (2nd)
                td Rp. 3.500.000,-
            tr
                td Peralatan Kerja dan Furniture
                td Rp. 20.000.000,-
            tr
                td Sewa Bangunan (Proyeksi 1 Tahun)
                td Rp. 20.000.000,-
            tr
                td(class="total") TOTAL BIAYA
                td(class="total") Rp. 133.000.000,-
        
        h2 Bentuk Investasi 
        p Bentuk investasi yang kami tawarkan adalah Flat Share Profit dari kegiatan operasional kami atau dengan kata lain penghasilan tetap yang dibagikan setiap bulan dari kegiatan usaha. Adapun komposisi penghasilan dan kegiatan usaha yang kami tawarkan adalah sebagai berikut:

        ul 
            li Flat Share Profit sebesar 2,5% / bulan atau 30% / tahun dari nilai investasi yang anda tanamkan. Pembagian Flat Share Profit tersebut dilakukan setiap bulan selama periode investasi yang diatur berdasarkan kontrak kerja yang disepakati bersama.
            li Nilai investasi minimal sebesar Rp. 5.000.000,- (Lima Juta Rupiah)
        