extends ../component/_template.pug

block head 
    link(rel="stylesheet" href="css/kalender.css")
block title 
    title Calendar
block content
    h1 Calendar 
    img(src="../img/kalender.png", alt="")

    div.calendar
        div.row
            div.cell.header 08
            div.cell.header Mo
            div.cell.header Tu
            div.cell.header We
            div.cell.header Th
            div.cell.header Fr
            div.cell.header Sa
            div.cell.header Su
        div.row
            div.cell.week-start 31
            div.cell 29
            div.cell 30
            div.cell 31
            div.cell 1
            div.cell 2
            div.cell 3
            div.cell 4
        div.row
            div.cell.week-start 32
            div.cell 5
            div.cell 6
            div.cell 7
            div.cell 8
            div.cell 9
            div.cell 10
            div.cell 11
        div.row
            div.cell.week-start 33
            div.cell 12
            div.cell 13
            div.cell 14
            div.cell 15
            div.cell 16
            div.cell 17
            div.cell 18
        div.row
            div.cell.week-start 34
            div.cell 19
            div.cell 20
            div.cell 21
            div.cell 22
            div.cell 23
            div.cell 24
            div.cell 25
        div.row
            div.cell.week-start 35
            div.cell 26
            div.cell 27
            div.cell 28
            div.cell 29
            div.cell 30
            div.cell 31
            div.cell 1
        div.row
            div.cell.week-start 36
            div.cell 2
            div.cell 3
            div.cell 4
            div.cell 5
            div.cell 6
            div.cell 7
            div.cell 8