extends ../component/_template.pug

block head 
    link(rel="stylesheet", href="css/news.css")
block title
  title Lorem Ipsum Page

block content
  .about-container
    h1 Lorem ipsum

    // Section for social icons
    .social-icons
      a(href="#")
        img(src="../img/instagram.png" alt="Instagram" width="40")
      a(href="#")
        img(src="../img/whatsapp.png" alt="WhatsApp" width="40")
      a(href="#")
        img(src="../img/facebook.png" alt="Facebook" width="40")
      a(href="#")
        img(src="../img/x.png" alt="Twitter/X" width="40")

    // Section for image
    .image-section
      img(src="../img/island.jpeg" alt="Island Image" class="featured-image")

    // Section for text
    .text-content
      p Lorem ipsum odor amet, consectetur adipiscing elit. 
      p Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia.
      p Feugiat sasum odor amet, consectetur adipiscing elit. Daipbus arcu vestibulum torquent hendrerit porttitor magna ipsum primis penatibus. 
      p Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a. Lorem ipsum odor amet.
      p At viverra tortor non vulputate at vel tristique consectetur sed. Mauris consequat rhoncus ut volutpat ante varius convallis proin.
