extends ../component/_template.pug

block head 
    link(rel="stylesheet" href="css/pengurus.css")
block title 
    title Pengurus
block content
    .image-data
        img(src="../img/map.png", alt="")
    .pengurus-title 
        h1 Data Pengurus Daerah 
        hr.garis
    .datapengurus   
        table
            tr
                th Nama
                th Nama Belakang
                th Gender
                th Umur 
            tr 
                td Faiq 
                td Muntashir 
                td Laki-Laki 
                td 20
            tr 
                td Junico 
                td Baan 
                td Laki-Laki 
                td 18
            tr 
                td Adam  
                td Maulidan 
                td Laki-Laki 
                td 18
            tr  
                td Catur 
                td Hidayat 
                td Laki-Laki 
                td 13
            tr 
                td Panca 
                td Satya 
                td Perempuan 
                td 28
            tr 
                td Yona 
                td Cantika 
                td Perempuan 
                td 19
            tr 
                td Niken 
                td Putra 
                td Perempuan 
                td 27
            tr 
                td Johan 
                td Liebert 
                td Laki-Laki 
                td 22
            tr 
                td James 
                td Han 
                td Laki-Laki 
                td 25
            tr 
                td Marshyela 
                td Christi 
                td Perempuan 
                td 20
            tr 
                td Nur 
                td Fajariyah 
                td Perempuan 
                td 22    
