extends ../component/_template.pug

block head 
    link(rel="stylesheet", href="css/penghargaan.css")
    link(rel="stylesheet", href="../component/css/tahun.css")
block content 
    .carousel 
        img(src="../img/penghargaan.png", alt="gambar penghargaan")
        .background 
        .penghargaan-title
            h3 Penghargaan 
            p Persembahan terbaik kami untuk konsumen dan lingkungan.
    .penghargaan-content 
        .history
            .tahun 
                +tahun 
                p Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor
            hr.garis
            p.penghargaan-text Lorem ipsum odor amet
            hr.garis
            .tahun 
                +tahun 
                p Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor
            hr.garis
            .tahun 
                +tahun 
                p Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor
            hr.garis
            .tahun 
                +tahun 
                p Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitor
            



