extends ../component/_template.pug

block head 
    link(rel="stylesheet" href="../component/css/product.css")
    link(rel="stylesheet" href="css/product.css")
block title 
    title Our Product
block content
    h1.product-title Our Product 
    div.product-desc
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Sed at efficitur dui. Vestibulum vitae bibendum mi, quis aliquet nunc. Aliquam erat volutpat.
    .product-item
        +product
        +product 
        +product
    .product-item 
        +product
        +product 
        +product 
    .product-sub
        h1 Why Choose Us?
        hr.garis
    .reason     
        .reason-text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Sed at efficitur dui. Vestibulum vitae bibendum mi, quis aliquet nunc. Aliquam erat volutpat. Donec pulvinar ex sit amet orci maximus, sed dapibus diam congue. Pellentesque faucibus luctus nibh et malesuada. Sed vel tellus et risus gravida eleifend. Aliquam feugiat nec justo a ultrices. Nunc congue non dui in tincidunt. Integer ornare ac sapien congue venenatis.
        .reason-img
            img(src="../img/card2.jpg", alt="ilustration image")
        .reason-text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Sed at efficitur dui. Vestibulum vitae bibendum mi, quis aliquet nunc. Aliquam erat volutpat. Donec pulvinar ex sit amet orci maximus, sed dapibus diam congue. Pellentesque faucibus luctus nibh et malesuada. Sed vel tellus et risus gravida eleifend. Aliquam feugiat nec justo a ultrices. Nunc congue non dui in tincidunt. Integer ornare ac sapien congue venenatis.
