extends ../component/_template.pug

block head 
    link(rel="stylesheet", href="css/statistik.css")
block title 
    title Statistik
block content
    .statistik
        .statis1
            img(src="../img/diagramlingkarann.png", alt="")
        .statis1
            img(src="../img/diagramgariss.png", alt="")
    .datastatistik    
        table
           - const data = [{ keterangan: 'Jumlah Pemasukan', data: [35, 44, 44, 45, 45, 47, 55] },{ keterangan: 'Jumlah Penjualan', data: [16, 16, 16, 11, 11, 10, 9] }]
            tr
              th Keterangan
              each year in [2015, 2016, 2017, 2018, 2019, 2020, 2021]
                th= year
            each row in data
              tr
                td= row.keterangan
                each value in row.data
                  td= value