<link rel="stylesheet" href="css/teknologi.css" />
 <div class="Teknologi">
 <h1>
 Teknologi Chellep
 </h1>
 <center>
 <image alt="Cloudy sky with fluffy white clouds" height="400" src="https://storage.googleapis.com/a1aa/image/YCJz0J1JrWLOHlnJj6IA1SfkxX1vieuwptOs1xoPHeppGzXnA.jpg" width="800"/>
 </center>
 <p>
 Lorem ipsum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent his urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
 Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a. Lorem ipsum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sasum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent his urna
 Lorem ipsum
 Lorem ipsum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent his urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
 Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur a. Lorem ipsum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sasum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent his urna
 </p>
 <p class="section-title">
 Lorem ipsum
 </p>
 <p>
 Lorem ipsum odor amet, consectetur adipiscing elit. Dapibus arcu vestibulum torquent his urna ullamcorper iaculis; maecenas mauris sodales vitae turpis? Class cubilia orci metus montes tempor consequat.
 </p>
 <p>
 Facilisis lectus risus ante; parturient id elit. Hendrerit sit taciti metus imperdiet morbi rhoncus lobortis cubilia. Convallis habitant urna urna primis habitasse vivamus semper efficitur
 </p>
 </div>