extends ../component/_template.pug

block head 
    link(rel="stylesheet" href="../component/css/ujilab.css")
    link(rel="stylesheet" href="css/ujilab.css")
block title 
    title Uji Lab
block content
    .ujilab-title
        h1 Hasil Uji Air Minum Hasil Penyaringan Chellep
    p.ujilab-sub-title Hasil Uji Dari Lab di Indonesia 
    hr.garis1
    .hasil-lab-indo
        each i in [1, 2, 3, 4]
            +ujilab

    p.ujilab-sub-title Hasil Uji Dari Lab luar Indonesia
    hr.garis2
    .hasil-lab-luar 
        each i in [1, 2, 3, 4]
            +ujilab
    .hasil-lab-luar
        each i in [1, 2, 3, 4]
            +ujilab
    
