/* styles.css */
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 2143px;
  font-family: "DM Sans", sans-serif;
}

.navbar {
  background-color: #32bce6;
  padding: 20px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 0 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  cursor: pointer;
}

.navbar ul li img {
  width: 60px;
  padding: 0;
  margin: 0;
}

.button {
  border-style: solid;
  border-color: #008CFF;
  border-radius: 20px;
  font-size: 28px;
    background-color: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    height: 55px;
    width: 138px;
}

.button2 {
  border-style: solid;
  border-color: #008CFF;
  border-radius: 20px;
  font-size: 28px;
    background-color: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    height: 70px;
    width: 307px;
}

.button3 {
  border-style: solid;
  border-color: #00B4D8;
  border-radius: 20px;
  font-size: 40px;
  font-style: bold;
    background-color: #00B4D8;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 70px;
    width: 207px;
}

.button4 {
  border-style: solid;
  border-color: #00B4D8;
  border-radius: 20px;
  font-size: 40px;
  font-style: bold;
    background-color: #00B4D8;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 70px;
    width: 207px;
}