doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../circle.css")
    title Document
  body
    .container-circle
      .image-container
        img(src="https://storage.googleapis.com/a1aa/image/fgXOErFW3dRTJ6lBGr1Y33ariZnQz3Dyg3DyBkXzOFzPNUyJA.jpg" alt="Person in a forest surrounded by tall trees" width="200" height="200")
      .text-circle
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Sed at efficitur dui. Vestibulum vitae bibendum mi, quis aliquet nunc. Aliquam erat volutpat.