doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpdDTP/sWN1CSQr4k4qtewOZ6cXEjjZmuL6sLA2AoNTqgNOtMqXe3+,HI+3AC51RwwzORvDVr90Bp4V7t+jiyUQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/footer/style.css")
    title Footer
  body
    footer
      .container
        .header
          img(src="https://storage.googleapis.com/a1aa/image/qFYRyfknR2zPLSeazM61gSFVSVhih1uuoGghn9rG8BqJPxkTA.jpg" alt="River with trees on the side" width="600" height="195")
          .logo chellep
          img(src="https://storage.googleapis.com/a1aa/image/GlvC73Z8nKqvBReAKRZ9uGc5yPfUjlw4ffvNSRzXyXbu8ETOB.jpg" alt="River with rocks" width="600" height="200")
          .logo chellep
        .footer
          div
            p FAQ
              br
              Contact
              br
              Follow Us:
            .social-icons
              i.fab.fa-instagram
              i.fab.fa-whatsapp
              i.fab.fa-facebook-f
              i.fab.fa-xing
          div
            p Uji Lab
              br
              Penghargaan
              br
              Teknologi
          div
            p Investasi Usaha
              br
              Agen
              br
              Statistik
          div
            p Karir
              br
              BeaSiswa
              br
              Pengurus
          div
            p.right-align Marcendes
              br
              Kalender
              br
              Galeri
        .copyright
          p.right-align © All right reserved