.vismis img {
    width: 400px;
    height: 400px;
    margin-bottom: 14px;
}
.vismis p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    text-align: left;
    width: 400px;
    margin: 0;
}

.vismis {
    width: 400px;
}