body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  footer {
    background-color: #00bcd4;
    padding: 30px 0;
    color: white;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between; /* Membuat elemen tersebar ke kanan */
    flex-wrap: wrap; /* Agar tetap responsif di layar kecil */
    padding: 0 50px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 150px; /* Menentukan lebar minimum agar responsif */
    padding: 0 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 10px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .logo-section {
    flex: 1;
    text-align: left;
  }
  
  .logo {
    width: 100px;
  }
  
  footer a img {
    width: 25px;
    margin: 0 5px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #f2f2f2;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  