mixin article
  .card
    img(alt="Cyclist riding a bike under a cloudy sky" height="200" src="/img/card.jpg" width="600")
    .card-content
      h2 Lorem Ipsum
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .read-more Read More
