mixin article
  .card-article
    .article-image
      img(src="img/sepedaan.png" alt="" )
    .article-content
      h2 Lorem Ipsum
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laci
      .read-more 
        a(href = "https://fishir123.github.io/tugas-pak-joko/halaman/news.html") 
          h3 see more&gt;&gt;

