include _footer.pug
include _higlight.pug
include _navbar.pug
include _faq.pug
include _product.pug
include _ujilab.pug
include _tahun.pug
include _footerStats.pug
include _article.pug
include _circleimage.pug
include _butongen.pug
include _shop.pug