mixin footer
  footer
    .container
      .footer-img
        .img1
          img(src="https://storage.googleapis.com/a1aa/image/qFYRyfknR2zPLSeazM61gSFVSVhih1uuoGghn9rG8BqJPxkTA.jpg" alt="River with trees on the side" class="footer1")
          img(src="../img/logochellep.jpg" alt="logo chellep" class="logo")
        .img2
          img(src="https://storage.googleapis.com/a1aa/image/GlvC73Z8nKqvBReAKRZ9uGc5yPfUjlw4ffvNSRzXyXbu8ETOB.jpg" alt="River with rocks" class="footer1")
          img(src="../img/logochellep.jpg" alt="logo chellep" class="logo")

      .container-menu
        ul.pinggir
          li 
            a(href="https://fishir123.github.io/tugas-pak-joko/halaman/faq.html") FAQ
          li 
            a(href="https://www.example.com") Contact
          li Follow Us:
        ul.menu
          li 
            a(href="https://fishir123.github.io/tugas-pak-joko/halaman/ujilab.html") Uji Lab
          li 
            a(href="https://fishir123.github.io/tugas-pak-joko/halaman/penghargaan.html") Penghargaan
          li 
            a(href="https://www.example.com") Teknologi
        ul.menu
          li 
            a(href="https://www.example.com") Investasi Usaha
          li 
            a(href="https://www.example.com") Agen
          li 
            a(href="https://www.example.com") Statistik
        ul.menu
          li 
            a(href="https://fishir123.github.io/tugas-pak-joko/halaman/karir.html") Karir
          li 
            a(href="https://www.example.com") Beasiswa
          li 
            a(href="https://www.example.com") Pengurus
        ul.tepi
          li 
            a(href="https://www.example.com") Merch
          li 
            a(href="https://www.example.com") Kalender
          li 
            a(href="https://www.example.com") Geleri

      .copyright
        .footer-medsos
          img(src="../img/instagram.png" alt="")

          img(src="../img/whatsapp.png" alt="")

          img(src="../img/facebook.png" alt="")
          
          img(src="../img/x.png" alt="")
        .footer-copyright
          p.right-align © All right reserved