mixin footerStats
  .footer-stats
    .stats-column
      h3 167
      p Cabang
    .stats-column
      h3 53
      p Best Water
    .stats-column
      h3 5
      p Se - Indonesia
    .stats-column
      h3 100
      p Kabupaten
    .stats-column
      h3 23
      p Uji Test
    .stats-column
      h3 50
      p Asia
  .read-more
    a(href="#") Read More
    i.fa.fa-arrow-right
