mixin footer
  footer
    .container
      .footer-img
        .img1
          img(src="https://storage.googleapis.com/a1aa/image/qFYRyfknR2zPLSeazM61gSFVSVhih1uuoGghn9rG8BqJPxkTA.jpg" alt="River with trees on the side" class="footer1")
          img(src="../img/logochellep.jpg" alt="logo chellep" class="logo")
        .img2
          img(src="https://storage.googleapis.com/a1aa/image/GlvC73Z8nKqvBReAKRZ9uGc5yPfUjlw4ffvNSRzXyXbu8ETOB.jpg" alt="River with rocks" class="footer1")
          img(src="../img/logochellep.jpg" alt="logo chellep" class="logo")

      .container-menu
        ul.pinggir
          li FAQ
          li Contact
          li Follow Us:
        ul.menu
          li Uji Lab
          li Penghargaan
          li Teknologi
        ul.menu
          li Investasi Usaha
          li Agen
          li Statistik
        ul.menu
          li Karir
          li Beasiswa
          li Pengurus
        ul.menu
          li Merch
          li Kalender
          li Geleri

      .copyright
        .footer-medsos
          img(src="../img/instagram.png" alt="")

          img(src="../img/whatsapp.png" alt="")

          img(src="../img/facebook.png" alt="")
          
          img(src="../img/x.png" alt="")
        .footer-copyright
          p.right-align © All right reserved