mixin higlight
    .card_highlights
      .card-image
        img(src="/img/card.jpg" alt="")
      .card-body
        h4.card-title Lorem Ipsum
        p.card-deskripsi
          Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitormagnis ipsum primis penatibus.
      .keterangan
        hr
        p by admin • 7 June • 3 min read