mixin navbar
  header
    nav.navbar
      .nav-logo
        a(href="https://www.example.com") 
          img(src="../img/Water Drop.png" alt="logo chellep" class="nav-logo")
      .nav-menu
        ul
          li.nav-item
            a(href="AboutUs.html") About
          li.nav-item
            a(href="faq.html") FAQ
          li.nav-item
            a(href="product") Product
          li.nav-item
            a(href="news.html") News
          li.nav-item
            a(href="contac.html") Contact Us
          li.nav-item
            a(href="login") Login
      .nav-search
        input(type="search" placeholder="Search...")
        button(type="submit")
          img(src="../img/search.png" alt="")