mixin navbar
  header
    nav.navbar
      .nav-logo
        img(src="../img/Water Drop.png" alt="logo chellep" class="nav-logo")
      .nav-menu
        ul
          li.nav-item
            a(href="#about") About
          li.nav-item
            a(href="#faq") FAQ
          li.nav-item
            a(href="product") Product
          li.nav-item
            a(href="#news") News
          li.nav-item
            a(href="#contact us") Contact Us
          li.nav-item
            a(href="login") Login
      .nav-search
        input(type="search" placeholder="Search...")
        button(type="submit")
          img(src="../img/search.png" alt="")