mixin navbar
  header
    nav.navbar
      .nav-logo
        a(href="https://www.example.com") 
          img(src="../img/Water Drop.png" alt="logo chellep" class="nav-logo")
      .nav-menu
        ul
          li.nav-item
            a(href="#about") About
          li.nav-item
            a(href="https://fishir123.github.io/tugas-pak-joko/halaman/faq.html") FAQ
          li.nav-item
            a(href="https://fishir123.github.io/tugas-pak-joko/halaman/product") Product
          li.nav-item
            a(href="#news") News
          li.nav-item
            a(href="#contact us") Contact Us
          li.nav-item
            a(href="login") Login
      .nav-search
        input(type="search" placeholder="Search...")
        button(type="submit")
          img(src="../img/search.png" alt="")