mixin product
  .card
    .card-image
      img(
        src="https://storage.googleapis.com/a1aa/image/DD7oLrsYLbJUANMlbDhB9f1fPExNgY9ESyC2yqRMxeC7HQJnA.jpg"
        alt="A scenic view of a mountain with a clear blue sky"
        width="200"
        height="150"
      )
    .card-desc
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Sed at efficitur