mixin shop
  .card-shop
    .shop-image
      img(src="/img/card2.jpg" alt="")
    .shop-title
      h4 Lorem Ipsum
      h2 Rp 100.000,00
      p Official Store Merchandise CHELLEP
    .icon-shop
      .shopee
        img(src="/img/shopee.png" alt="")
        p chellep
      .tokopedia
        img(src="/img/tokopedia.png" alt="")
        p chellep