mixin vismis
  .vismis
    img(src="../img/vismis.png", alt="")
    p consectetur adipiscing elit. Duis purus arcu, consectetur hendrerit hendrerit in, porttitor eget ligula. Praesent fringilla tempor ligula, non gravida purus pellentesque at. Aliquam lobortis non sapien vel tempor. Aliquam euismod erat vel turpis consectetur sed.
