doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="vismis.css")
    title Document
  body
    .container
      .card
        img(alt="Mountain view with clear blue sky" src="https://storage.googleapis.com/a1aa/image/o7yy7jUqlJ74JtEnRgknRXMxVKka4r0PPt6AfLf5D3mICykTA.jpg")
        p
          | consectetur adipiscing elit. Duis purus arcu, consectetur hendrerit hendrerit in, porttitor eget ligula. Praesent fringilla tempor ligula, non gravida purus pellentesque at. Aliquam lobortis non sapien vel tempor. Aliquam euismod erat vel turpis consectetur sed.
