doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../article.css")
    title Document
  body
    .card-article
      .article-image
        img(src="../../img/sepedaan.png" alt="" )
      .card-content
        h2 Lorem Ipsum
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laci
        .read-more 
          h3 see more&gt;&gt;
