doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="article.css")
    title Document
  body
    .card
      img(alt="Cyclist riding a bike under a cloudy sky" height="200" src="/img/card.jpg" width="600")
      .card-content
        h2 Lorem Ipsum
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .read-more Read More
