doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    title Document
  body
    .card-faq
      .faq-title
        h1 1#
        p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis pulvinar. Sed at efficitur dui. Vestibulum vitae bibendum mi, qus aliquet nunc. Aliquam erat volutpat.
      .faq-image
        .faq-image1
          img(src="/img/card.jpg" alt="")
        .faq-image2
          img(src="/img/card.jpg" alt="")