body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: #caf0f8;
}

.container2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.search-section,
.daily-reads-section {
  padding: 20px;
}

.search-section {
  flex: 1;
  margin-top: 0;
}

.tag {
  margin: 5px;
  background-color: #b3e5fc;
  height: 65px;
  border-radius: 20px;
  padding: 2px 20px;
  color: white;
  font-size: 29px;
  font-weight: 500;
  
}
.search-bar {
  width: 586px;
  height: 94px;
  display: flex;
  background-color: #0f85d3;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.search-bar input::placeholder {
  color: white;
}
.search-bar input {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: transparent;
  font-size: 32px;
  font-weight: 300;
}

.search-bar img {
  width: 61px;
}
.kategori {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.daily-reads-section {
  background-color: #0288d1;
  border-radius: 20px;
  color: white;
  width: 734px;
}
.daily-reads-section h2 {
  margin-top: 0;
  font-size: 48px;
  font-weight: 800;
}
.news-item {
  display: flex;
  margin-bottom: 20px;
}
.news-item img {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.news-item p {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.group-higlight {
  margin-top: 40px;
  display: flex;
  direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 40px;
}

.highlight-sub {
  margin-left: 80px;
}
.highlight-sub h2 {
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.garis {
  width: 105px;
  height: 6px;
  border: none;
  background-color: #00488a;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 40px;
}
