body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  background-color: #caf0f8;
}

.product-item {
  display: flex;
  direction: row;
  justify-content: center;
  gap: 1px;
}

.product-title {
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}

.product-desc {
  font-size: 20px;
  font-weight: 400;
  width: 715px;
  display: block;
  justify-content: center;
}

.product-desc p{
 text-align: center;
}

.reason {
  display: flex;
  direction: row;
  justify-content: center;
}

.reason-img {
  width: 248px;
  height: 248px;
  overflow: hidden;
  border-radius: 9px;
}

.reason-img {
    width: 248px;
}

.reason-text {
    width: 452px;
    height: 273px;
    margin: 0 40px;
}