body {
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 100%;
    font-family: "DM Sans", sans-serif;
    background-color: #caf0f8;
  }
  

.boxsignup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1211px;
    height: 900px;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    border: 7px solid black;
    padding: 0;
    margin: 0 auto;
    margin-top: 44px;
    margin-bottom: 500px;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    color: black;
}

.contenersign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    width: 1001px;
    background-color: transparent;
    
}
.input {
    font-size: 40px;
    font-weight: 300;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid black;
    width: 1001px;
    height: 75px;
    margin-top: 26px;
}

.sign {
    padding: 9px 50px;
    font-size: 40px;
    font-weight: 900;
    width: 207px;
    border-radius: 20px;
    background-color: #0097a7;
    border: none;
    margin-bottom: 13px;
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    margin-top: 83px;
    margin-bottom: 13px;

}

.sign:hover {
    background-color: transparent;
}

.login {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 55px;
}

.login p, .signup a{
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    text-decoration: none;
}

.login p {
    color: black;
}
.input::placeholder {
    color: black;
    padding-left: 10px;
    font-size: 40px;
    font-weight: 200;
}