.teknologi-title h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 40px;
}

.garis {
  width: 105px;
  height: 6px;
  border: none;
  background-color: #00488a;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 60px;
}

.teknologi-title {
  margin-left: 80px;
}

.teknologi-title img {
  width: 1280px;
  height: 468px;
  border-radius: 20px;
}

.teknologi-paragraf {
  width: 1358px;
  margin-left: 60px;
}

.teknologi-paragraf > h3{
  font-size: 28px;
  font-weight: 700;
}

.paragraf {
  text-indent: 50px;
  font-size: 28px;
  font-weight: 400;
}
