doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap")
    title Document
  body
    .card_highlights
      .card-image
        img(src="/img/card.jpg" alt="")
      .card-body
        h4.card-title Lorem Ipsum
        p.card-deskripsi
          Lorem ipsum odor amet, consectetuer adipiscing elit. Dapibus arcu vestibulum torquent hendrerit porttitor. Feugiat sagittis porttitormagnis ipsum primis penatibus.
      .keterangan
        hr
        p by admin • 7 June • 3 min read