<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpdDTP/sWN1CSQr4k4qtewOZ6cXEjjZmuL6sLA2AoNTqgNOtMqXe3+,HI+3AC51RwwzORvDVr90Bp4V7t+jiyUQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="component/css/footer.css">
    <link rel="stylesheet" href="component/css/higlight.css">
    <link rel="stylesheet" href="component/css/navbar.css">
    <title>template</title>
  </head>
  <body>    
    <header>
      <nav class="navbar">
        <ul>
          <li><img src="img/Water Drop.png" alt="logo chellep"/></li>
          <li><a href="#about">About</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="product">Product</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#contact us">Contact Us</a></li>
          <li><a href="login">Login</a></li>
          <li>
            <div class="search-container">
              <input type="search" placeholder="Search..."/>
              <button type="submit"><img src="img/search.png" alt=""/></button>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <footer>
      <div class="container">
        <div class="header"><img src="https://storage.googleapis.com/a1aa/image/qFYRyfknR2zPLSeazM61gSFVSVhih1uuoGghn9rG8BqJPxkTA.jpg" alt="River with trees on the side" width="600" height="195"/>
          <div class="logo">chellep</div><img src="https://storage.googleapis.com/a1aa/image/GlvC73Z8nKqvBReAKRZ9uGc5yPfUjlw4ffvNSRzXyXbu8ETOB.jpg" alt="River with rocks" width="600" height="200"/>
          <div class="logo">chellep</div>
        </div>
        <div class="footer">
          <div>
            <p>FAQ<br/>
              <Contact></Contact><br/>
              <Follow>Us:</Follow>
            </p>
            <div class="social-icons"><i class="fab fa-instagram"></i><i class="fab fa-whatsapp"></i><i class="fab fa-facebook-f"></i><i class="fab fa-xing"></i></div>
          </div>
          <div>
            <p>Uji Lab<br/>
              <Penghargaan></Penghargaan><br/>
              <Teknologi></Teknologi>
            </p>
          </div>
          <div>
            <p>Investasi Usaha<br/>
              <Agen></Agen><br/>
              <Statistik></Statistik>
            </p>
          </div>
          <div>
            <p>Karir<br/>
              <BeaSiswa></BeaSiswa><br/>
              <Pengurus></Pengurus>
            </p>
          </div>
          <div>
            <p class="right-align">Marcendes<br/>
              <Kalender></Kalender><br/>
              <Galeri></Galeri>
            </p>
          </div>
        </div>
        <div class="copyright">
          <p class="right-align">© All right reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>