include pug/_component.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpdDTP/sWN1CSQr4k4qtewOZ6cXEjjZmuL6sLA2AoNTqgNOtMqXe3+,HI+3AC51RwwzORvDVr90Bp4V7t+jiyUQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="component/css/footer.css")
        link(rel="stylesheet" href="component/css/higlight.css")
        link(rel="stylesheet" href="component/css/navbar.css")
        title template
    body     
        block footer
            +navbar   
        block content
        block footer
            +footer
         
    
